In [1]:
def square_x(x) :
    print(x**2)

In [2]:
square_x(5)

25

In [3]:
def cube_x(x):
    print("Cube that entered number = " + str(x**3))

In [4]:
cube_x(8)

Cube that entered number = 512

In [8]:
def sum(a,b):
    print(str(a) + "+" + str(b) + "=" + str(a+b))

In [9]:
sum(5,6)

5+6=11

## Default Value

In [10]:
def multiply(a,b = 1):
    print(a*b)

In [13]:
multiply(9)
multiply(9,5)
multiply(a = 10,b = 7)

9
45
70

## Return

In [14]:
def multiply(a,b,c):
    return a*b*c

In [15]:
outcome = multiply(5,6,8)
print(outcome)

240

In [16]:
def square(x):
    return x**2

In [21]:
number = int(input("Enter a number = "))
print(str(number) + "*" + str(number) + "=" +str(square(number)))

Enter a number =  10

10*10=100

## Local and Global Fields

In [2]:
x = []
def add_element(i):
    x.append(i)
    print(str(i) + " added to list")
    print(x)

In [3]:
add_element(15)

15 added to list
[15]

In [4]:
add_element(10)

10 added to list
[15, 10]

## True-False

In [5]:
rage = 5000
rage == 4000

False

In [6]:
rage != 7000

True

## if-else-elif

In [11]:
income = 4000
expense = 5000

In [12]:
if income < expense:
    print("Store is about to go bankrupt!")

Store is about to go bankrupt!

In [13]:
if income > expense:
    print("Store is going well!")
else:
    print("Store is about to go bankrupt!!")

Store is about to go bankrupt!!

In [14]:
expense = float(input("Please enter your store's expense = "))
income = float(input("Please enter your store's income = "))

if income > expense:
    print("Your profit = " + str(income - expense) + " Your store is processing well.")
elif income == expense:
    print("Your profit is = " + str(income-expense) + " Your store is limit value.")
else:
    print("Your profit is = " + str(income-expense) + " Your store is about to go bankrupt!")

Please enter your store's expense =  10
Please enter your store's income =  50

Your profit = 40.0 Your store is processing well.

In [7]:
wages = [1000,2000,5000,6000,10000,8400,9785,13021]
new_wages = []
def get_raise():
    for i in wages:
        new_wages.append((i*20/100) + i) 
    return new_wages

In [8]:
print(get_raise())

[1200.0, 2400.0, 6000.0, 7200.0, 12000.0, 10080.0, 11742.0, 15625.2]

In [9]:
wages = [1000,2000,5000,6000,10000,8400,9785,13021]
def get_raise():
    for i in wages:
        wages[i] = wages[i] * 20/100 + wages[i]
    return wages[i]

In [11]:
def get_raise2(x):
    print(x*20/100 + x)

In [12]:
for i in wages:
    get_raise2(i)

1200.0
2400.0
6000.0
7200.0
12000.0
10080.0
11742.0
15625.2

## for-if-function

In [13]:
wages = [1000,2000,5000,6000,10000,8400,9785,13021]
def get_raise_ad(x):
    if x < 5000:
        return (x*50/100 + x)
    elif 5000 >= x < 10000:
        return (x*40/100 + x)
    else:
        return (x*35/100 + x)

In [16]:
for i in wages:
    print(str(i) + " --------> " + str(get_raise_ad(i)))

1000 --------> 1500.0
2000 --------> 3000.0
5000 --------> 7000.0
6000 --------> 8100.0
10000 --------> 13500.0
8400 --------> 11340.0
9785 --------> 13209.75
13021 --------> 17578.35

## break-continue

In [1]:
def add_element():
    list1 = []
    while(True):
        x = int(input("Enter a number = "))
        if x == 0:
            print(list1)
            break
        list1.append(x)

In [2]:
add_element()

Enter a number =  10
Enter a number =  20
Enter a number =  30
Enter a number =  40
Enter a number =  50
Enter a number =  0

[10, 20, 30, 40, 50]

In [4]:
def is_prime(x):
    for i in range(2,x):
        if x % i == 0:
            return 0
    return 1

In [7]:
while(True):
    x = int(input("Enter a number = "))
    if is_prime(x) == 0:
            print("Not prime")
    
    else:
        print("Prime")

    if x == 0:
        break

Enter a number =  12

Not prime

Enter a number =  11

Prime

Enter a number =  4

Not prime

Enter a number =  5

Prime

Enter a number =  0

Prime

In [11]:
def is_prime(x):
    if x == 1:
        return 0
    elif x == 2:
        return 1
    else:
        for i in range(2,x):
            if x % i == 0:
                return 0
        return 1

In [13]:
list1 = [2,78,62,31,54,74,73,84,89,87,5,6,1,13,64,99,43,55,17,19,111,241,541]
print("Prime numbers of the list = ")
for i in list1:
    if is_prime(i) == 1:
        print(i)

Prime numbers of the list =
2
31
73
89
5
13
43
17
19
241
541

In [19]:
list1 = [2,78,62,31,54,74,73,84,89,87,5,6,1,13,64,99,43,55,17,19,111,241,541]
list2 = []
for i in list1:
    if is_prime(i) == 1:
        list2.append(i)
list2.sort()
print(list2)

[2, 5, 13, 17, 19, 31, 43, 73, 89, 241, 541]